<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/Header') %>
    <body>
        <%- include('./partials/Navbar') %>
        <div class="container">
            <h3>My Book List</h3>
            <div class="container-fluid">
                <% myList.forEach(list => {%>
                    <div class="list">
                        <span><%= list.title %></span>
                        <span><%= list.author %></span>
                        <span><%= list.isRead %></span>
                    </div>
                <% }) %>
            </div>
        </div>
        <%- include('./partials/Footer') %>
    </body>
</html>