<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/Header') %>
    <body>
        <%- include('./partials/Navbar') %>
        <div class="container py-5 mt-2">
            <h3>My Book List</h3>
            <div class="container px-0">
                <% if (myList.length > 0) { %>
                    <% myList.forEach(list => { %>
                        <button class="btn btn-danger">Clear List</button>
                        <a href="/booklist/<%= list._id %>" class="single">
                            <div class="list p-4 my-3 mb-4">
                                <div>Title: <%= list.title %></div>
                                <div>Author: <%= list.author %></div> 
                                <div>Did you read: 
                                    <% if (list.isRead) { %>
                                        Yes
                                    <% } else { %>
                                        No
                                    <% } %>
                                </div>
                                <!-- <button class="px-3 py-1 mt-3">Delete</button> -->
                            </div>
                        </a>
                        
                    <% }) %>
                <% } else { %>
                    <div class="text-danger">
                        <h3>You have no book in your list</h3>
                    </div>
                <% } %>
            </div>
        </div>
        <%- include('./partials/Footer') %>
    </body>
</html>