<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/Header') %>
    <body>
        <%- include('./partials/Navbar') %>
        <div class="container">
            <h3>My Book List</h3>
            <div class="container-fluid">
                <% myList.forEach(list => {%>
                    <% if (list.length > 0) { %>
                        <div class="list">
                            <div>Title: <%= list.title %></div>Title: 
                            <div>Author: <%= list.author %></div>Title: 
                            <div>Did you read: <%= list.isRead %></div>Title: 
                        </div>
                    <% } else { %>
                        <div class="text-danger">
                            <h3>You have no book in your list</h3>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
        <%- include('./partials/Footer') %>
    </body>
</html>