<!DOCTYPE html>
<html lang="en">
<%- include('./partials/Header') %>
<body>
    <%- include('./partials/Navbar') %>
      <div class="container py-5 bg-warning">
        <h3>Book Detail</h3>
        <h4><%= book.title %></h4>
        <h4><%= book %></h4>
      </div>
    <%- include('./partials/Footer') %>
</body>
</html>